div.wind{
    position:absolute;
    background:rgba(255,255,255,0.85);
    width:40%;
    height:60%;
    left:30%;
    top:20%;
    color:black;
    text-align:center;
    display:none;
}
div.wind > pre{
    overflow-x:hidden;
    overflow-y:scroll;
    height:50%;
}